// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {
    .block {
        &__item {
            &__header {
                height: auto;
                min-height: 200px;
            }
        }
    }
}

.block {
    &__item:nth-child(odd) {
        .block__item__container {
            .time {
                left: 20px;
            }
        }
    }

    &__item:nth-child(even) {
        .block__item__container {
            flex-direction: row-reverse;

            .time {
                left: calc(100% - 80px);
            }
        }
    }
}