// @import 'reset';
* {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}


// @import 'variable';
//color
$background_color: #0e628f;
$block_background_color: #D7E6E7;
$block_text_color: #031B1B;
$white_color: #FFFFFF;
$icon_color: #636D6D;
$sub_text_color: #f2b15d;

//size
$max-width: 960px;


// @import 'mixin';

// @import 'utils';
.text-center {
    text-align: center !important;
}

.text-bold {
    font-weight: bold !important;
}

.bl-eff {
    &--top {
        .block__item__container:before {
            content: '';
            display: block;
            width: 0%;
            height: 0;
            border-top: 3px solid transparent;
            transition: all 1s;
            z-index: 9;
            position: absolute;
        }

        &:hover {
            .block__item__container:before {
                content: '';
                display: block;
                width: 100%;
                height: 0;
                position: absolute;
                border-top: 3px solid #E8320E;
            }
        }

        &--red {
            .block__item__container:before {
                content: '';
                display: block;
                width: 0%;
                height: 0;
                border-top: 3px solid transparent;
                transition: all 1s;
                z-index: 9;
                position: absolute;
            }

            &:hover {
                .block__item__container:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 0;
                    position: absolute;
                    border-top: 3px solid #E8320E;
                }
            }
        }

        &--blue {
            .block__item__container:before {
                content: '';
                display: block;
                width: 0%;
                height: 0;
                border-top: 3px solid transparent;
                transition: all 1s;
                z-index: 9;
                position: absolute;
            }

            &:hover {
                .block__item__container:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 0;
                    position: absolute;
                    border-top: 3px solid #0A5DF8;
                }
            }
        }

        &--green {
            .block__item__container:before {
                content: '';
                display: block;
                width: 0%;
                height: 0;
                border-top: 3px solid transparent;
                transition: all 1s;
                z-index: 9;
                position: absolute;
            }

            &:hover {
                .block__item__container:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 0;
                    position: absolute;
                    border-top: 3px solid #0DB006;
                }
            }
        }
    }

    &--cover {
        .block__item__container:before {
            content: '';
            display: block;
            width: 100%;
            height: 0;
            position: absolute;
            transition: all .5s;
            z-index: 9;
        }

        &:hover {
            .block__item__container:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.05);
                position: absolute;
                z-index: 9;
            }
        }
    }

    &--pic {
        .block__item__header {
            img {
                width: 100%;
                height: auto;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(1);
                filter: grayscale(0) blur(0);
                transition-duration: 0.5s;
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                -ms-transition-duration: 0.5s;
            }
        }

        &:hover {
            .block__item__header {
                img {
                    filter: grayscale(50%) blur(0.1px);
                    transform: translate(-50%, -50%) scale(1.2);
                    -webkit-transform: translate(-50%, -50%) scale(1.2);
                    -moz-transform: translate(-50%, -50%) scale(1.2);
                    -o-transform: translate(-50%, -50%) scale(1.2);
                    -ms-transform: translate(-50%, -50%) scale(1.2);
                    cursor: pointer;
                }
            }
        }
    }

}



// @import 'global';
body,
input,
button,
select {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.wrapper {
    max-width: $max-width;
    min-height: 100vh;
    margin: 0 auto;
}

.block {
    background-color: $block_background_color;
    padding: 30px;

    &__item {
        background-color: $block_background_color;

        &__container {
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
            position: relative;
            margin-top: 50px;
            background-color: $white_color;

            .time {
                padding: 5px;
                width: 60px;
                height: 70px;
                overflow: hidden;
                border: 2px solid $white_color;
                background-color: $block_text_color;
                color: $white_color;
                position: absolute;
                top: -20px;
                text-align: center;
                z-index: 99;

                &__month {
                    font-size: 1rem;
                    text-transform: uppercase;
                }

                &__day {
                    font-size: 1.6rem;
                }
            }
        }

        &__header {
            overflow: hidden;
            position: relative;
            background-color: $white_color;
            height: 360px;

            img {
                height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        background-color: $white_color;
        justify-content: center;
        padding: 20px 0;

        .sub-title {
            text-transform: capitalize;
            color: $sub_text_color;
            font-size: 1.2rem;
            margin: 0 20px;
            padding: 5px 0;
        }

        .title {
            font-weight: 600;
            font-size: 1.6rem;
            margin: 0 20px;
            padding: 5px 0;
        }

        .text {
            margin: 0 20px;
            padding: 5px 0;
        }
    }
}


// @import 'section';

// @import 'responsive';
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {
    .block {
        &__item {
            &__header {
                height: auto;
                min-height: 200px;
            }
        }
    }
}

.block {
    &__item:nth-child(odd) {
        .block__item__container {
            .time {
                left: 20px;
            }
        }
    }

    &__item:nth-child(even) {
        .block__item__container {
            flex-direction: row-reverse;

            .time {
                left: calc(100% - 80px);
            }
        }
    }
}