body,
input,
button,
select {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.wrapper {
  max-width: $max-width;
  min-height: 100vh;
  margin: 0 auto;
}

.block {
  background-color: $block_background_color;
  padding: 30px;

  &__item {
    background-color: $block_background_color;

    &__container {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
      position: relative;
      background-color: $white_color;
      margin-bottom: 30px;
    }

    &__header {
      overflow: hidden;
      position: relative;
      background-color: $white_color;

      img {
        width: auto;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: $white_color;
    justify-content: flex-start;
    padding: 0px 30px !important;

    &__title {
      font-weight: 600;
      font-size: 1.6rem;
      padding: 10px 0;
    }

    &__author {
      border-top: 1px gray solid;
      border-bottom: 1px gray solid;
      padding: 10px 0;
      margin: 15px 0;
    }

    &__text {
      padding-top: 5px;
      padding-bottom: 30px;
      text-align: justify;
    }
  }

  .author {

    &__content {
      text-transform: capitalize;
      margin-right: 5px;
      margin-left: 10px;

      img {
        width: 15px;
        margin: 0 5px;
      }
    }

    &__content:nth-child(2) {
      span {
        border-bottom: dotted 1px gray;
      }
    }
  }
}