//color
$background_color: #0e628f;
$block_background_color: #EFEFF3;
$block_text_color: #8D8E8F;
$white_color: #FFFFFF;
$blue_color: #3679F5;
$red_color: #F5474F;
$black_color: #2C2D2D;
$gray_light_color: #E9EBEE;

//size
$max-width: 960px;
