//color
$background_color: #0e628f;
$block_background_color: #EFEFF3;
$block_text_color: #7B7C7C;
$white_color: #FFFFFF;
$green_color: #18DAAE;
$green_color_background: rgba(24, 218, 174, 0.2);
$orange_color: #FFC300;
$orange_color_background: rgba(255, 195, 0, 0.2);
$icon_color: #636D6D;

//size
$max-width: 960px;
