* {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.text-center {
    text-align: center !important;
}

.text-bold {
    font-weight: bold !important;
}

body,
input,
button,
select {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.wrapper {
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
}

.block {
    background-color: #efeff3;
    padding: 50px 0px;
}

.block__item {
    background-color: #efeff3;
    padding: 0 12px !important;
    margin-bottom: 30px;
}

.block__item__container {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
}

.block__item__header {
    height: 160px;
    overflow: hidden;
    position: relative;
}

.block__item__header img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    filter: grayscale(100%) blur(0.5px);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
}

.block__item__header img:hover {
    filter: grayscale(0) blur(0);
    transform: translate(-50%, -50%) scale(1.5);
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    -ms-transform: translate(-50%, -50%) scale(1.5);
    cursor: pointer;
}

.block__content {
    position: relative;
    background-color: #fff;
    padding: 30px;
    padding-top: 1.2rem;
}

.block__content__title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.block__content__text {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
    color: #7b7c7c;
}

.block__content__tag {
    margin-bottom: 0.6rem;
}

.block__content__author {
    display: flex;
    align-items: center;
}

.author__text {
    font-size: 0.8rem;
    font-weight: 600;
}

.author__text span:nth-child(2) {
    color: #7b7c7c;
    font-weight: normal;
}

.author__avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
}

.author__avatar img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tag {
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 0.7rem;
    display: inline-block;
    margin-right: 10px;
    padding: 0px 12px;
    line-height: 1.2rem;
    font-weight: bold;
}

.tag--orange {
    color: #ffc300;
    background-color: rgba(255, 195, 0, 0.2);
}

.tag--green {
    color: #18daae;
    background-color: rgba(24, 218, 174, 0.2);
}