// Extra small devices (portrait phones, less than 576px)
@media (max-width: 767.98px) {
    .block {
        &__item {

            &__picture {
                min-height: 300px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .footer {
            &__author {
                text-align: right;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .block {
        &__item {

            &__picture {
                min-height: 200px;
            }
        }
    }
}