* {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.text-center {
    text-align: center !important;
}

.text-bold {
    font-weight: bold !important;
}

.bl-eff--top .block__item__container:before {
    content: '';
    display: block;
    width: 0%;
    height: 0;
    border-top: 3px solid transparent;
    transition: all 1s;
    z-index: 9;
    position: absolute;
}

.bl-eff--top:hover .block__item__container:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    border-top: 3px solid #e8320e;
}

.bl-eff--top--red .block__item__container:before {
    content: '';
    display: block;
    width: 0%;
    height: 0;
    border-top: 3px solid transparent;
    transition: all 1s;
    z-index: 9;
    position: absolute;
}

.bl-eff--top--red:hover .block__item__container:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    border-top: 3px solid #e8320e;
}

.bl-eff--top--blue .block__item__container:before {
    content: '';
    display: block;
    width: 0%;
    height: 0;
    border-top: 3px solid transparent;
    transition: all 1s;
    z-index: 9;
    position: absolute;
}

.bl-eff--top--blue:hover .block__item__container:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    border-top: 3px solid #0a5df8;
}

.bl-eff--top--green .block__item__container:before {
    content: '';
    display: block;
    width: 0%;
    height: 0;
    border-top: 3px solid transparent;
    transition: all 1s;
    z-index: 9;
    position: absolute;
}

.bl-eff--top--green:hover .block__item__container:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    border-top: 3px solid #0db006;
}

.bl-eff--cover .block__item__container:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    transition: all 0.5s;
    z-index: 9;
}

.bl-eff--cover:hover .block__item__container:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    z-index: 9;
}

.bl-eff--pic .block__item__header img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    filter: grayscale(0) blur(0);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
}

.bl-eff--pic:hover .block__item__header img {
    filter: grayscale(50%) blur(0.1px);
    transform: translate(-50%, -50%) scale(1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    -moz-transform: translate(-50%, -50%) scale(1.2);
    -o-transform: translate(-50%, -50%) scale(1.2);
    -ms-transform: translate(-50%, -50%) scale(1.2);
    cursor: pointer;
}

body, input, button, select {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.wrapper {
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
}

.block {
    background-color: #d7e6e7;
    padding: 30px;
}

.block__item {
    background-color: #d7e6e7;
}

.block__item__container {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
}

.block__item__header {
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.block__item__header img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.block__content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    padding: 20px 30px !important;
}

.block__content__title {
    font-weight: 600;
    font-size: 1.6rem;
    padding: 10px 0;
}

.block__content__text {
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: justify;
}

.block .footer__button {
    margin-bottom: 20px;
}

.block .footer__button button {
    background-color: #ecccd2;
    padding: 10px 20px;
    border: solid 2px #d1b5b9;
    width: 150px;
}

.block .footer__author {
    font-size: 0.8rem;
}

.block .footer__author__content {
    text-transform: capitalize;
}

.block .footer__author__content span {
    font-style: italic;
}

.block .footer__author__content span:nth-child(1) {
    font-weight: bold;
    font-style: normal;
}

@media (max-width: 767.98px) {
    .block__item__header {
        min-height: 300px;
    }
    .block__item__header img {
        width: 100%;
        height: auto;
    }
    .block .footer__author {
        text-align: right;
    }
}

@media (max-width: 575.98px) {
    .block__item__header {
        min-height: 200px;
    }
}