body,
input,
button,
select {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.wrapper {
  max-width: $max-width;
  min-height: 100vh;
  margin: 0 auto;
}

.block {
  // background-color: $block_background_color;
  padding: 30px 0px;

  &__item {
    // background-color: $block_background_color;
    padding: 0 12px !important;
    margin-bottom: 30px;

    &__container {
      border-radius: 2px;
      position: relative;
    }

    &__header {
      height: 240px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__content {
    position: relative;
    padding-top: 10px;

    &__title {
      font-size: 1.4rem;
      margin-bottom: 2rem;
      color: $block_text_color;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 400px;
      text-transform: uppercase;
    }

    &__text {
      font-size: 1rem;
      margin-bottom: 3rem;
      color: $block_text_color;
      text-transform: capitalize;
    }

    &__header {
      margin: 2rem 0;
    }
  }
}

.blog-info {
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;

  &__text {
    span:nth-child(1) {
      color: orange;
    }

    span:nth-child(4) {
      color: orange;
    }
  }
}

.readmore-link {
  display: block;
  width: max-content;
  color: black;
  font-size: 1.2rem;
  border-bottom: 2px solid gray;

  &:hover {
    text-decoration: underline;
  }
}